In [2]:
from rice_counting import contour_method
from rice_counting import watershed_method
import warnings
warnings.filterwarnings("ignore")
from __future__ import print_function
from skimage.feature import peak_local_max
try:
    from skimage.segmentation import watershed
except:
    from skimage.segmentation import watershed
from scipy import ndimage
import argparse
import imutils
import cv2
from scipy import ndimage
import numpy as np
import matplotlib.pyplot as plt
import os
import pandas as pd

# Getting area and the count of rice

In [57]:
test = os.listdir('data/test')
train = os.listdir('data/train')

In [3]:
# creating a data frame to store the output of watershed and contour method results
columns = ['name','method','total','area_avg','area_median','area']
df = pd.DataFrame(columns = columns)

###  Below code working
1. takes files from train and test directory
2. uses contour method and watershed method to get the area of the rice grain
3. stores the output image in train_solved and test_solved 
4. the functions return a dictionary containing
    1. total count
    2. area
    3. area_avg
    4. area_median

In [4]:
# finding areas of rice grains through contour and watershed algorithm
for i in train:
    input_path = f'data/train/{i}'
    output_path_1 = f'data/train_solved/solved_contour_{i}'
    output_path_2 = f'data/train_solved/solved_watershed_{i}'
    result_1 = contour_method(input_path,output_path_1,True)
    result_2 = watershed_method(input_path,output_path_2,True)
    result_1['name'] = i
    result_2['name'] = i
    df = df.append(result_1,ignore_index = True)
    df = df.append(result_2,ignore_index = True)
    print(f'{i} : completed')

broken_grain_1.jpg : completed
broken_grain_2.jpg : completed
broken_grain_3.jpg : completed
full_grain_1.jpg : completed
full_grain_2.jpg : completed
full_grain_3.jpg : completed
full_grain_4.jpg : completed
full_grain_5.jpg : completed
full_grain_6.jpg : completed
mixed_grains_3.jpg : completed
mixed_grain_1.jpg : completed
mixed_grain_2.jpg : completed

In [58]:
# creating a data frame to store the output of watershed and contour method results
columns = ['name','method','total','area_avg','area_median','area']
df_test = pd.DataFrame(columns = columns)

In [59]:
# finding areas of rice grains through contour and watershed algorithm
for i in test:
    input_path = f'data/test/{i}'
    output_path_1 = f'data/test_solved/solved_contour_{i}'
    output_path_2 = f'data/test_solved/solved_watershed_{i}'
    result_1 = contour_method(input_path,output_path_1,True)
    result_2 = watershed_method(input_path,output_path_2,True)
    result_1['name'] = i
    result_2['name'] = i
    df_test = df_test.append(result_1,ignore_index = True)
    df_test = df_test.append(result_2,ignore_index = True)
    print(f'{i} : completed')

image_1.jpg : completed
image_2.jpg : completed
image_3.jpg : completed
image_4.jpg : completed
image_5.jpg : completed

In [5]:
# df

,name,method,total,area_avg,area_median,area
0,broken_grain_1.jpg,contour,465,2503.358065,1586.00,"[1369.0, 1719.0, 1612.0, 2770.5, 1641.5, 1093...."
1,broken_grain_1.jpg,watershed,746,1544.372654,1427.50,"[862.5, 0.0, 1409.0, 1516.0, 1484.5, 985.5, 11..."
2,broken_grain_2.jpg,contour,393,2179.783715,1538.50,"[184.0, 1086.5, 2049.5, 995.0, 2947.0, 2716.0,..."
3,broken_grain_2.jpg,watershed,559,1526.487478,1451.00,"[906.0, 765.5, 2749.0, 1171.0, 985.0, 1330.0, ..."
4,broken_grain_3.jpg,contour,550,3721.062727,2053.25,"[61.5, 116.5, 476.5, 567.0, 422.0, 1188.0, 214..."
5,broken_grain_3.jpg,watershed,1048,1925.831107,1811.75,"[768.5, 1450.5, 1639.0, 694.5, 1139.0, 1893.0,..."
6,full_grain_1.jpg,contour,192,2860.468750,1482.00,"[1492.0, 1840.5, 1675.0, 1587.0, 1492.5, 1844...."
7,full_grain_1.jpg,watershed,329,1628.373860,1459.00,"[1230.0, 1295.5, 1322.5, 965.0, 1163.5, 2370.5..."
8,full_grain_2.jpg,contour,385,1603.548052,961.00,"[808.0, 849.0, 935.5, 1417.5, 826.5, 991.5, 91..."
9,full_grain_2.jpg,watershed,552,1094.318841,947.25,"[947.0, 859.5, 983.5, 874.0, 1814.0, 1038.5, 1..."
10,full_grain_3.jpg,contour,479,2792.289144,1854.50,"[1791.5, 1794.5, 2052.5, 2447.0, 2212.0, 2018...."
11,full_grain_3.jpg,watershed,717,1855.576709,1775.50,"[1190.0, 2199.5, 1707.0, 746.5, 1827.0, 1015.5..."
12,full_grain_4.jpg,contour,338,4144.813609,2387.00,"[1670.0, 2126.5, 2247.0, 1925.0, 1390.0, 1482...."
13,full_grain_4.jpg,watershed,583,2369.665523,2221.00,"[2570.0, 1852.5, 1008.0, 1051.5, 2187.5, 4286...."
14,full_grain_5.jpg,contour,231,6553.006494,2861.50,"[462.5, 2085.5, 3336.0, 1306.5, 3165.0, 2809.5..."
15,full_grain_5.jpg,watershed,718,2060.314763,1658.50,"[5616.5, 2250.0, 0.0, 430.5, 2420.0, 181.0, 19..."
16,full_grain_6.jpg,contour,242,8218.801653,3804.75,"[31.0, 116.5, 1226.0, 556.5, 511.0, 721.5, 472..."
17,full_grain_6.jpg,watershed,726,2655.786501,2115.25,"[341.5, 4873.0, 0.0, 4068.5, 1279.5, 1090.5, 1..."
18,mixed_grains_3.jpg,contour,435,3938.781609,2506.50,"[1118.5, 273.0, 16.0, 50.0, 1972.5, 2184.0, 13..."
19,mixed_grains_3.jpg,watershed,737,2299.951832,2175.50,"[1155.0, 717.5, 1615.5, 1619.5, 3008.0, 3307.5..."
20,mixed_grain_1.jpg,contour,341,1599.620235,1412.50,"[79.5, 172.5, 706.0, 1239.0, 1020.0, 1416.0, 1..."
21,mixed_grain_1.jpg,watershed,403,1351.818859,1341.00,"[1666.5, 504.5, 1156.0, 1787.0, 1051.5, 1654.5..."
22,mixed_grain_2.jpg,contour,299,3893.463211,2998.50,"[597.0, 42.0, 2695.0, 2779.5, 2069.0, 1369.0, ..."
23,mixed_grain_2.jpg,watershed,441,2623.827664,2421.50,"[2473.5, 1057.5, 1393.5, 2947.5, 1611.5, 5411...."

In [60]:
# df_test

,name,method,total,area_avg,area_median,area
0,image_1.jpg,contour,472,2223.543432,1793.0,"[502.5, 554.5, 917.0, 278.5, 349.0, 1437.5, 71..."
1,image_1.jpg,watershed,630,1659.790476,1659.5,"[1175.0, 1146.5, 977.5, 590.0, 664.0, 389.5, 1..."
2,image_2.jpg,contour,462,2020.042208,1539.5,"[317.5, 458.0, 2107.0, 698.0, 821.0, 1639.5, 9..."
3,image_2.jpg,watershed,645,1439.836434,1392.0,"[574.5, 2111.5, 1302.0, 2574.0, 1676.5, 784.0,..."
4,image_3.jpg,contour,509,1655.738703,1374.0,"[1797.0, 1927.0, 1350.5, 1085.5, 2356.5, 1413...."
5,image_3.jpg,watershed,634,1328.015773,1267.5,"[886.5, 1295.5, 1387.0, 2395.0, 4560.5, 819.0,..."
6,image_4.jpg,contour,580,1501.818966,1191.0,"[1226.0, 600.5, 1649.0, 872.0, 1480.5, 1200.5,..."
7,image_4.jpg,watershed,723,1201.943983,1119.5,"[1389.0, 1499.5, 744.0, 733.0, 1045.5, 1101.5,..."
8,image_5.jpg,contour,435,3938.781609,2506.5,"[1118.5, 273.0, 16.0, 50.0, 1972.5, 2184.0, 13..."
9,image_5.jpg,watershed,737,2299.951832,2175.5,"[1155.0, 717.5, 1615.5, 1619.5, 3008.0, 3307.5..."

# Data wrangling

In [6]:
df.to_json('area.json',orient = 'records',index=True)

In [3]:
area = pd.read_json('area.json')
area_watershed = area[area['method'] == 'watershed']
area_contour = area[area['method']=='contour']

In [14]:
area_watershed.iloc[0:]

,name,method,total,area_avg,area_median,area
1,broken_grain_1.jpg,watershed,746,1544.372654,1427.50,"[862.5, 0.0, 1409.0, 1516.0, 1484.5, 985.5, 11..."
3,broken_grain_2.jpg,watershed,559,1526.487478,1451.00,"[906.0, 765.5, 2749.0, 1171.0, 985.0, 1330.0, ..."
5,broken_grain_3.jpg,watershed,1048,1925.831107,1811.75,"[768.5, 1450.5, 1639.0, 694.5, 1139.0, 1893.0,..."
7,full_grain_1.jpg,watershed,329,1628.373860,1459.00,"[1230.0, 1295.5, 1322.5, 965.0, 1163.5, 2370.5..."
9,full_grain_2.jpg,watershed,552,1094.318841,947.25,"[947.0, 859.5, 983.5, 874.0, 1814.0, 1038.5, 1..."
11,full_grain_3.jpg,watershed,717,1855.576709,1775.50,"[1190.0, 2199.5, 1707.0, 746.5, 1827.0, 1015.5..."
13,full_grain_4.jpg,watershed,583,2369.665523,2221.00,"[2570.0, 1852.5, 1008.0, 1051.5, 2187.5, 4286...."
15,full_grain_5.jpg,watershed,718,2060.314763,1658.50,"[5616.5, 2250.0, 0.0, 430.5, 2420.0, 181.0, 19..."
17,full_grain_6.jpg,watershed,726,2655.786501,2115.25,"[341.5, 4873.0, 0.0, 4068.5, 1279.5, 1090.5, 1..."
19,mixed_grains_3.jpg,watershed,737,2299.951832,2175.50,"[1155.0, 717.5, 1615.5, 1619.5, 3008.0, 3307.5..."
21,mixed_grain_1.jpg,watershed,403,1351.818859,1341.00,"[1666.5, 504.5, 1156.0, 1787.0, 1051.5, 1654.5..."
23,mixed_grain_2.jpg,watershed,441,2623.827664,2421.50,"[2473.5, 1057.5, 1393.5, 2947.5, 1611.5, 5411...."

In [24]:
# broken_grain = []
# full_grain = []
# for i in area_watershed['area'.iloc[3:9]:
#     broken_grain.extend(i)
#     full_grain.extend(i)

In [25]:
# df_n = pd.DataFrame(columns= ['area'])
# df_n['area'] = area_watershed.iloc[8]['area']
# df_n.to_csv('area_data/train/full6_area.csv')

In [8]:
df1 = pd.DataFrame(columns= ['area','rice_type'])
df1['area'] = broken_grain
df1['rice_type'] = 'broken'

In [29]:
df2 = pd.DataFrame(columns= ['area','rice_type'])
df2['area'] = full_grain
df2['rice_type'] = 'full'

In [31]:
label_data = pd.concat([df1,df2],ignore_index = True)

In [35]:
label_data.to_csv('label_data.csv')

# mixed data file

In [47]:
df_n = pd.DataFrame(columns= ['area','rice_type'])
df_n['area'] = area_watershed.iloc[11]['area']
df_n.to_csv('mixed_grain2_area.csv')

# Test data file

In [61]:
area_watershed = df_test[df_test['method']=='watershed']

In [79]:
area_watershed.iloc[4]

name                                                 image_5.jpg
method                                                 watershed
total                                                        737
area_avg                                             2299.951832
area_median                                               2175.5
area           [1155.0, 717.5, 1615.5, 1619.5, 3008.0, 3307.5...
Name: 9, dtype: object

In [85]:
df_n = pd.DataFrame(columns= ['area','rice_type'])
df_n['area'] = area_watershed.iloc[4]['area']
df_n.to_csv('image5_area.csv')